
body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 10pt;
}

.tm a { 
  color: #666;
  font-size: 8pt;
}
.me {
  color: #006400;
  font-style: italic;
}
.nt {
  color: #FF4500;
}
.dl {
  font-size: 8pt;
}
